{% extends 'base.html' %}
{% block main %}
<div class="container">
    <div class="row">
        <div class="col-md-12 main">
           {% if user.is_authenticated %}
            <input type="hidden" id="user_id" value="{{user.id}}" >
            {% endif %}
            <form action="/" method="POST">
                {% csrf_token %}
                <div class="form-inline">
                <input type="text" size="40" placeholder="Search" name=search class="search">
                <input type="submit" class="btn btn-primary " value="GO"/>
                </div>
            </form>
            <div class="row">
                <div class="col-md-12">Previous searches:</div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6" id="tasks">
                {% for task in tasks %}
                     <a href="/search/{{task.keyword}}" class="task">{{task.keyword}}</a>
                {% endfor %}
                </div>
                <div class="col-md-3"></div>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}