{% extends 'base.html' %}
{% block main %}
    <div class="container">

        <div class="row">
            <div class="col-md-12 main">
                <!--<div class="row"><a     href="/authorize/?keyword={{keyword}}">Upload to Yandex Disk</a></div>-->
                <div class=" row dropdown {{dropdown}}">
                    {% if yandex_folders%}
                        <a href="#" class="dropdown-toggle"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Upload to Yandex Disk</a>
                    {% else %}
                        <a href="/authorize/?keyword={{keyword}}" >Authorize to Yandex Disk</a>
                    {% endif %}
                    <ul class="dropdown-menu" style=" left: 43%;">
                        <li class="dropdown-header">Choose folder</li>
                        {% for folder in yandex_folders %}
                            <li><a href="/authorize/?keyword={{keyword}}&folder={{folder}}">{{folder}}</a></li>
                        {% endfor %}
                    </ul>

                </div>


                <div class="row">
                    {% if user.is_authenticated %}
                        <a href="/download/{{user.id}}/{{keyword}}/">Download Zip File</a>
                    {% else %}
                        <a href="/download/anonymous/{{keyword}}/">Download Zip File</a>
                    {% endif %}
                </div>
                <div class="row">
                    <a href="/" class="btn btn-primary btn-sm"> <--BACK</a></div>
                <div class="row">
                    <div class="col-md-12 all-pics">
                        {% if pics|length > 0 %}
                            {% for pic in pics %}
                                <div class="pic-container">
                                    <span class="helper"></span><a href={{pic.link}}"> <img src={{pic.img}} ></a>
                                </div>
                            {% endfor %}
                        {% else %}
                            Sorry. No results found.
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
     </div>
{% endblock %}