{% extends 'base.html' %}
{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 main">
                <div class="row"><a href="/" class="btn btn-primary btn-sm"> <--BACK</a></div>
                <div class="row">
                    <div class="col-md-12 all-pics">
                        {% if pics|length > 0 %}
                            {% for pic in pics %}
                                <div class="pic-container">
                                    <span class="helper"></span><a href={{pic.link}}"> <img src={{pic.img}} ></a>
                                </div>
                            {% endfor %}
                        {% else %}
                            Sorry. No results found.
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
     </div>
{% endblock %}