.container{
    width = 600px;
    text-align:center;
    padding: 50px;
}

.pic-container{
    float:left;
    width:210px;
    height:160px;
    border: 0.5px solid #B6B6B6;
    text-align: center;
    background:#f8f8f8;
    opacity: 0.7;
}

.pic-container:hover{
    opacity: 1.0;
    background:none;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

img {
    vertical-align: middle;
    max-height: 150px;
    max-width: 200px;
}

.search, .btn{
    padding: 15px;
    display: inline-block;
    height:100%;
}

.form{
    height:50px;
}

.btn{
    background-color:#717FDB;
    margin: 0 5px;
    /*border:none;*/

}

.task_name{
    text-align:center;
    overflow-x: hidden;
    vertical-align: center;
}

.row{
    display:flex;
    justify-content:center;
    align-items:center;
}

.results_buttons{
    margin: 0 0 30px 30px;
    padding: 5px;


}